# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development database (SQLite)
db.sqlite3
db.sqlite3-journal

# Virtual Environments
venv/
env/
.env/
ENV/

# Sensitive environment variables
.env
.flaskenv

# Media and Static assets
# (Exclude uploaded files and collected static files)
media/
static/
staticfiles/
cmmd/
project/local_settings.py

# Logs and databases
*.log
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.github.txt

# IDE and Editor folders
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
